.banner {
  background: url(../../../assets/svg/right_illustration.svg);
  background-repeat: no-repeat;
  background-position: top right;
}

.newsletter {
  background-image: url(../../../assets/svg/newsletter_shape.svg),
    url(../../../assets/svg/newsletter_shape_2.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
}
@media (min-width: 768px) {
  .get_started_button:after {
    content: url(../../../assets/svg/get_started_arrow.svg);
    position: absolute;
    display: block;
    top: -170px;
    right: -270px;
  }

  .choose_plan:after {
    content: url(../../../assets/svg/plans_arrow.svg);
    position: absolute;
    display: block;
    top: -30px;
    right: -200px;
  }
}
