<div class="flex justify-center h-full">
  <div class="w-full px-4 md:px-0 max-w-md flex flex-col justify-center items-center gap-y-4">
    <p class="font-bold text-[2rem]/[2.25rem] text-center text-primary">
      Enter your OTP
    </p>

    <p class="text-center text-[1rem]/[1.5rem]">
      We have sent a 6-digit code to your email,
      <!-- <span class="font-semibold">{{'seunadesina@gmail.com.'}}</span> -->
      Kindly
      enter it into the input box below.
    </p>
    @if (errormessage) {

    <p class="text-center text-[#F66E6E] text-sm">
      {{errormessage}}
    </p>
    }

    <ng-otp-input [formControl]="otp"
      [config]="{ length: 6, allowNumbersOnly:true, isPasswordInput: true }"></ng-otp-input>
    <app-button [buttonDisabled]="isLoading()" [loading]="isLoading()" (buttonClick)="onVerify()" inputClass="!w-full"
      class="w-full">Verify</app-button>
    <p class="text-center text-grey">
      Didn’t get the code?
      <span [routerLink]="['/auth/signup']" routerLinkActive="router-link-active" class="cursor-pointer text-primary">
        Resend
      </span>
    </p>
  </div>
</div>