<div class="flex justify-center h-full">
  <div class="w-full px-4 md:px-0 max-w-md flex flex-col justify-center  gap-y-4">
    <p class="font-bold text-[2rem]/[2.25rem] text-center text-primary">
      Forgot Password
    </p>

    @if (errorMessage) {
    <p class="text-[#F66E6E] text-center text-[1rem]/[1.5rem]">
      {{errorMessage}}
    </p>
    }
    <app-input [control]="email" class="w-full" label="Email" placeholder="Enter your email"></app-input>
    <app-button [buttonDisabled]="isLoading()" [loading]="isLoading()" (buttonClick)="onSubmit()" inputClass="!w-full"
      class="w-full">Continue</app-button>
    <p class="text-center text-grey">
      Already found your password?
      <span [routerLink]="['/auth/login']" routerLinkActive="router-link-active" class="cursor-pointer text-primary">
        Login
      </span>
    </p>
  </div>
</div>