<div class="flex justify-center h-full">
  <div class="w-full  md:w-1/2 px-4 md:px-0 flex flex-col justify-center items-center gap-y-8">

    <div class="md:px-[8rem] flex justify-center items-center gap-x-4 w-full">
      <div class="flex-1 h-3 bg-primary rounded-md"></div>
      <div class="flex-1 h-3 bg-primary rounded-md"></div>
      <div class="flex-1 h-3 bg-primary rounded-md"></div>
      <div class="flex-1 h-3 bg-[#989898] rounded-md"></div>
    </div>

    <p class="font-bold text-[1.25rem]/[1.5rem]">
      I want Smart Scribbl to help me:
    </p>

    @if (errorMessage()) {
    <p class="text-sm text-[#F66E6E]">{{errorMessage()}}</p>
    }

    <p class="text-grey text-[14px]">Make your choice below</p>

    <div class="grid grid-cols-2 gap-2 gap-2 justify-center flex-wrap md:flex-nowrap ">
      @for (option of options(); track option.id) {
      <div>
        <input (input)="toggleSelection(option.id)" type="checkbox" [checked]="selectedOptions().includes(option.id)"
          [id]="option.suggestion" class="hidden peer">
        <label [for]="option.suggestion"
          class="flex gap-x-2 justify-center items-center font-medium text-sm px-12 py-4 text-grey border rounded-full cursor-pointer peer-checked:bg-primary peer-checked:text-white transition">

          <span class="text-nowrap">
            {{ option.suggestion }}
          </span>
        </label>
      </div>
      }
    </div>

    <p class="cursor-pointer text-center text-grey text-sm underline" [routerLink]="['/main/dashboard']"
      routerLinkActive="router-link-active">Skip</p>

    <app-button [buttonDisabled]="isLoading()" [loading]="isLoading()" (click)="onSave()" inputClass="!w-full"
      class="w-full md:px-[8rem]">Continue</app-button>

  </div>
</div>