<div class="flex flex-col h-screen font-sans">
  <header class="flex items-center justify-between p-3 border-b border-gray-700">
    <div class="flex items-center">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
        class="w-7 h-7 text-blue-500 mr-2">
        <path
          d="M12.0006 18.26L4.94715 22.2082L6.52248 14.2799L0.587891 8.7918L8.61493 7.84006L12.0006 0.5L15.3862 7.84006L23.4132 8.7918L17.4787 14.2799L19.054 22.2082L12.0006 18.26Z" />
      </svg>
      <span class="text-lg font-semibold text-gray-100">SMARTSCRIB</span>
      <button class="ml-4 text-gray-400 hover:text-gray-100">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>
    <div class="flex items-center">
      <span class="text-sm mr-4 text-gray-400">Untitled Document</span>
      <button class="text-sm bg-blue-600 hover:bg-blue-700 text-white py-1.5 px-4 rounded">
        Set Writing Mode
      </button>
    </div>
  </header>

  <main class="flex-grow p-6 md:p-10 relative">
    <ckeditor #editorComponent [editor]="Editor" [config]="editorConfig" [(ngModel)]="editorData"
      (ready)="onReady($event)" (change)="onChange($event)" class="h-full custom-ckeditor"></ckeditor>
  </main>

  <footer #customToolbar class="flex items-center justify-between p-2 border-t border-gray-700 bg-gray-800">
    <div class="flex items-center space-x-1">
      <button (click)="executeCommand('bold')" title="Bold" class="p-2 rounded hover:bg-gray-700 active:bg-gray-600">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
          <path d="M3.5 2.75a.75.75 0 00-1.5 0v14.5a.75.75 0 001.5 0V2.75z" />
          <path
            d="M10.75 10.843c2.277 0 3.5-1.539 3.5-3.686S13.027 3.5 10.75 3.5H6.25v10.75h4.5c2.229 0 3.375-1.453 3.375-3.461 0-1.473-.777-2.448-2.25-2.947a2.543 2.543 0 010 .001zM7.75 5h3c1.206 0 1.875.661 1.875 2.093 0 1.432-.669 2.093-1.875 2.093h-3V5zM7.75 12.75V10.5h3.125c1.125 0 1.75.613 1.75 1.836 0 1.223-.625 1.836-1.75 1.836H7.75z" />
        </svg>
      </button>
      <button (click)="executeCommand('italic')" title="Italic"
        class="p-2 rounded hover:bg-gray-700 active:bg-gray-600">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
          <path
            d="M8.504 3.244c.404-.513 1.265-.569 1.74-.115l.099.088 4.25 5.062c.403.48.447 1.172.106 1.698l-.091.119L9.929 17.24c-.404.513-1.265.569-1.74.115l-.099-.088-4.25-5.062a1.474 1.474 0 01-.106-1.698l.091-.119L8.504 3.244zM9.37 5.072L6.02 9.53l3.071 3.989L12.98 9.61 9.37 5.072z" />
        </svg>
      </button>
      <button (click)="executeCommand('underline')" title="Underline"
        class="p-2 rounded hover:bg-gray-700 active:bg-gray-600">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
          <path
            d="M5 3.5a.75.75 0 01.75-.75h8.5a.75.75 0 010 1.5h-3.25V12a.75.75 0 01-1.5 0V4.25H5.75A.75.75 0 015 3.5zm-.75 10.25a.75.75 0 000 1.5h11.5a.75.75 0 000-1.5H4.25z" />
        </svg>
      </button>

      <div class="h-5 w-px bg-gray-600 mx-1"></div> <button (click)="toggleHeading('heading1')" title="Heading 1"
        class="p-2 rounded hover:bg-gray-700 active:bg-gray-600 font-semibold">H1</button>
      <button (click)="toggleHeading('heading2')" title="Heading 2"
        class="p-2 rounded hover:bg-gray-700 active:bg-gray-600 font-semibold">H2</button>

      <div class="h-5 w-px bg-gray-600 mx-1"></div> <button (click)="addLink()" title="Link"
        class="p-2 rounded hover:bg-gray-700 active:bg-gray-600">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
          <path fill-rule="evenodd"
            d="M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0l-.879-.879a.75.75 0 111.06-1.06l.879.879a.5.5 0 00.707 0l3-3a.5.5 0 000-.707L9.243 7.5H6.75a.75.75 0 010-1.5H9.243a2.5 2.5 0 011.768.732l.001.001.879-.879a2 2 0 012.827-.001zM7.414 15.414a2 2 0 11-2.828-2.828l3-3a2 2 0 012.828 0l.879.879a.75.75 0 11-1.06 1.06l-.879-.879a.5.5 0 00-.707 0l-3 3a.5.5 0 000 .707l3.172 3.172H13.25a.75.75 0 010 1.5H10.757a2.5 2.5 0 01-1.768-.732l-.001-.001-.879.879a2 2 0 01-2.827.001z"
            clip-rule="evenodd" />
        </svg>
      </button>
      <button (click)="executeCommand('bulletedList')" title="Bulleted List"
        class="p-2 rounded hover:bg-gray-700 active:bg-gray-600">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
          <path fill-rule="evenodd"
            d="M2.5 4A1.5 1.5 0 001 5.5V6h18v-.5A1.5 1.5 0 0017.5 4h-15zM1 9.5v5A1.5 1.5 0 002.5 16h15a1.5 1.5 0 001.5-1.5v-5H1zm8.5 1a.75.75 0 000 1.5h6a.75.75 0 000-1.5h-6zM3.75 11a.75.75 0 01.75-.75h2.5a.75.75 0 010 1.5h-2.5a.75.75 0 01-.75-.75z"
            clip-rule="evenodd" />
        </svg>
      </button>
      <button (click)="executeCommand('numberedList')" title="Numbered List"
        class="p-2 rounded hover:bg-gray-700 active:bg-gray-600">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
          <path fill-rule="evenodd"
            d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10zm0 5.25a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75a.75.75 0 01-.75-.75zM4.128 8.06a.75.75 0 01-.172 1.024l-1.5 1a.75.75 0 11-.856-1.278l.3-.2V5.75a.75.75 0 011.5 0v1.674l.728-.485a.75.75 0 011.024.172zM4.5 13.25a.75.75 0 01-.75.75h-.75a.75.75 0 01-.75-.75V12a.75.75 0 01.75-.75H3a.75.75 0 01.75.75v.75c0 .09-.026.175-.073.242L4.22 12.42a.75.75 0 011.06 0l.548.547a.752.752 0 01.072.829A.75.75 0 015.25 14h-.75v-.75z"
            clip-rule="evenodd" />
        </svg>
      </button>
    </div>
    <div class="flex items-center text-sm text-gray-400">
      <span>{{ wordCount }} words</span>
      <button class="ml-2 p-1 rounded hover:bg-gray-700">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-4 h-4">
          <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
        </svg>
      </button>
    </div>
  </footer>
</div>