<div class="grid grid-cols-4 px-[8.5rem] justify-between items-stretch my-8 gap-x-8">
  <div class="flex flex-col gap-[2rem]">
    <p class="uppercase text-[14px]/[27px] font-extrabold text-primary">SmartSCRIBBL</p>
    <p class="text-grey">
      Transform your writing with our advanced spelling corrector and article refiner.
    </p>
    <div class="flex">
      <img src="assets/Social.png" alt="">
    </div>
  </div>

  <div class="flex flex-col gap-[2rem]">
    <p class="uppercase text-[14px]/[27px] font-extrabold text-primary">company</p>
    <div class="flex flex-col gap-y-4">
      <p class="text-grey">About</p>
      <p class="text-grey">Features</p>
      <p class="text-grey">Works</p>
      <p class="text-grey">Career</p>
    </div>
  </div>

  <div class="flex flex-col gap-[2rem]">
    <p class="uppercase text-[14px]/[27px] font-extrabold text-primary">help</p>
    <div class="flex flex-col gap-y-4">
      <p class="text-grey">Customer Support</p>
      <p class="text-grey">Delivery Details</p>
      <p class="text-grey">Terms & Conditions</p>
      <p class="text-grey">Privacy Policy</p>
    </div>
  </div>

  <div class="flex flex-col gap-[2rem]">
    <p class="uppercase text-[14px]/[27px] font-extrabold text-primary">Resources</p>
    <div class="flex flex-col gap-y-4">
      <p class="text-grey">Free eBooks</p>
      <p class="text-grey">Development Tutorial</p>
      <p class="text-grey">How to - Blog</p>
      <p class="text-grey">Youtube Playlist</p>
    </div>
  </div>

</div>
