<div class="flex justify-center h-full">
  <div class="w-full px-4 md:px-0 max-w-md flex flex-col justify-center items-center gap-y-4">
    <p class="font-bold text-[2rem]/[2.25rem] text-center text-primary">
      Login
    </p>

    <p class="text-center text-grey text-[1rem]/[1.5rem]">
      Continue your journey
    </p>
    @if (errorMessage) {
    <p class="text-red-500 text-center text-[1rem]/[1.5rem]">
      {{errorMessage}}
    </p>
    }
    <app-input [control]="email" class="w-full" label="Email" placeholder="Enter your email"></app-input>
    <app-input type="password" [control]="password" class="w-full" label="Password"
      placeholder="Enter your password"></app-input>
    <app-button [buttonDisabled]="isLoading" [loading]="isLoading" (click)="onLogin()" inputClass="!w-full"
      class="w-full">Login</app-button>
    <p class="text-center text-grey">
      Don't have an account?
      <span [routerLink]="['/auth/signup']" routerLinkActive="router-link-active" class="cursor-pointer text-primary">
        Sign Up
      </span>
    </p>
  </div>
</div>