/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
  --color-primary: #0d79c9;
  --color-black: #18181b;
  --color-grey: #747474;
  --color-gray: #52525b;
  --color-hero-white: #fafafa;
}
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Albert Sans", serif;
  @apply text-black;
}

.spinner {
  width: 16px;
  height: 16px;
  border: 2px solid white;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.wallet-dialog {
  .mat-mdc-dialog-container .mdc-dialog__surface {
    padding: 20px;
    border-radius: 32px;
    border: none;
  }
}
