<div class="p-4">
  <div class="flex items-center justify-between">
    <app-page-title>
      <p page-title>All Articles</p>
      <p page-description>An overview of all your scribbls</p>
    </app-page-title>

    <app-button (click)="onCreateArticle()">
      Create New Articles
    </app-button>
  </div>

  @if (isLoading()) {
  <div class="h-[50vh] flex justify-center items-center">
    <div>
      <div class="flex items-center justify-center">
        <span class="table-spinner"></span>
      </div>
      <p class="text-center mt-8">Please wait...</p>
    </div>
  </div>
  }
  @if (articleList().length === 0 && !isLoading()) {
  <div>
    <app-empty-state></app-empty-state>
  </div>
  }

  @if (articleList() && articleList().length > 0 ) {
  <div class="grid grid-cols-4 mt-4 gap-8">
    @for (article of articleList(); track article.id) {
    <div [routerLink]="['/main/edit-article', article.id]" routerLinkActive="router-link-active"
      class="cursor-pointer bg-white rounded-lg p-4 flex flex-col gap-2">
      <p class="text-[15px] font-bold">
        {{article?.title}}
      </p>
      <p [innerHTML]="article?.origin_document" class="mt-3 text-[12px] text-[#6D6D6D] flex-grow">
      </p>

      <div
        class="border-t-[0.8px] border-[#C3C3C3] flex justify-between items-center px-4 py-2 text-[10px] text-[#6D6D6D]">
        <span>
          {{article?.date_created | date : 'shortTime'}}
        </span>
        <span>
          {{article?.date_created | date : 'shortDate'}}
        </span>
        <span class="text-primary">
          {{article?.character_count}}
        </span>
      </div>
    </div>
    }
  </div>
  }

</div>