<!-- <div class="p-4 bg-gray-100 rounded-lg shadow-md max-w-lg mx-auto">
  <h2 class="text-lg font-semibold mb-2">Original Text with Errors:</h2>
  <p [innerHTML]="getUnderlinedErrors()" class="text-lg"></p>

  <h2 class="text-lg font-semibold mt-4 mb-2">Corrected Text:</h2>
  <p [innerHTML]="getHighlightedCorrections()" class="text-lg"></p>
</div> -->
<div class="p-4 bg-gray-100 rounded-lg shadow-md max-w-lg mx-auto">
  <p [innerHTML]="textToDisplay" class="text-lg"></p>
</div>

<div class="flex gap-4">

  <app-button (buttonClick)="textToDisplay = getUnderlinedErrors()">
    Show Original
  </app-button>
  <app-button (buttonClick)="textToDisplay = getFormattedText()">
    Show corrected
  </app-button>
</div>